@page "{code?}"
@using Microsoft.AspNetCore.WebUtilities
@{
    ViewData["Title"] = "Error | Vivian";

    int code = int.Parse(Request.Query["code"]);
}

<div class="error">
    <h1>Error @code</h1>
    <h2>@ReasonPhrases.GetReasonPhrase(code)</h2>
</div>