@page

<div class="homepage">
    <div class="banner">
        <img draggable="false" src="/img/viv.svg"/>
        <h1>Vivian</h1>
        <h2>A strongly typed programming language powered by .NET</h2>
    </div>

    <div class="options">
        <a href="/sandbox" class="option">
            Try it out in the <b>Sandbox</b>!
        </a>
        <a href="/spec" class="option">
            Find out more about the language!
        </a>
        <a href="https://github.com/WaifuShork/Vivian" class="option">
            Check the code out on <b>GitHub</b>!
        </a>
    </div>
</div>