<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>@(ViewData["Title"] ?? "Vivian Sandbox")</title>

    <link rel="stylesheet" href="~/lib/destyle/destyle.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>

<body class="preload">
<header>
    <a class="home" href="/">
        <img src="~/img/viv.svg"/>
        <h1>Vivian Sandbox</h1>
    </a>
    <div>
        @await RenderSectionAsync("HeaderControls", required: false)
    </div>
    @* <nav></nav> *@
</header>

<main>
    @RenderBody()
</main>

<footer>
    <div>
        &copy; @(DateTime.UtcNow.Year) WaifuShork
    </div>
</footer>

@await RenderSectionAsync("Scripts", required: false)
<script src="~/js/site.js"></script>
</body>
</html>