@import "_variables.css";
@import "_sandbox.css";

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: var(--color-gray-200);
    background: var(--color-gray-900);
    font: 16px "Inter", Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.8rem 3rem;

    color: var(--color-gray-300);
    background: var(--color-gray-800);
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.4);
}
header .home img {
    display: inline;
    height: 32px;
    margin-right: 0.4em;
    vertical-align: middle;
}
header .home h1 {
    display: inline;
    font-weight: 400;
    font-family: "Roboto Slab", sans-serif;
    vertical-align: middle;
}

footer {
    padding: 0.8rem 2rem;
    font-size: 0.8rem;

    color: var(--color-gray-400);
    background: var(--color-gray-800);
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.4);
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

.preload * {
    transition: none !important;
}

.no-select {
    user-select: none;
}

.button {
    display: inline-block;
    user-select: none;
    cursor: pointer;
    padding: 0.6em 1.5em;
    font-size: 0.9rem;
    border-radius: 0.8em;
    background: var(--color-gray-700);
    color: var(--color-white);
}
.button.success {
    background: var(--color-success);
}
.button.success:hover {
    background: var(--color-success-active);
}
.button[disabled] {
    background: var(--color-gray-600);
    pointer-events: none;
    opacity: 0.5;
}

.code-input {
    font-family: monospace;
}

pre code {
    line-height: 1.4;
    white-space: pre-wrap;
}
